.Flight {
    width: 100%;
    margin: auto;
    height: 600px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #f7f7f7;
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Flight {
        height: 600px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Flight {
        height: 600px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Flight {
        height: 500px;
    }
}