/*======================================================================
// These are the options that the user can choose between. Currently,
// their design is a placeholder while I work on the program's logic.
// I will implement attractive designs for these in the near future.
======================================================================*/
.Package1 {
    height: 180px;
    width: 130px;
    background: #444;
    border-radius: 100px 100px 20px 20px;
    box-shadow: inset -15px 0 #555;
    margin: 2% auto;
    position: relative;
}

.Package2 {
    height: 180px;
    width: 150px;
    background: purple;
    border-radius: 100px 100px 20px 20px;
    box-shadow: inset -15px 0 rgb(80, 1, 80);
    margin: 2% auto;
    position: relative;
}

.Package3 {
    height: 180px;
    width: 170px;
    background: orange;
    border-radius: 100px 100px 20px 20px;
    box-shadow: inset -15px 0 darkorange;
    margin: 2% auto;
    position: relative;
}

.Theme1 {
    width: 230px;
    height: 80px;
    background: #555;
    margin: 2% auto;
    border-radius: 15px;
}

.Theme2 {
    width: 230px;
    height: 80px;
    background: linear-gradient(rgb(230, 38, 255), rgb(255, 33, 33));
    margin: 2% auto;
    border-radius: 15px;
}

.Theme3 {
    width: 230px;
    height: 80px;
    background: linear-gradient(rgb(30, 8, 233), rgb(6, 26, 71));
    margin: 2% auto;
    border-radius: 15px;
}

.Entertainment1 {
    width: 230px;
    height: 80px;
    background: #555;
    margin: 2% auto;
    border-radius: 15px;
}

.Entertainment2 {
    width: 230px;
    height: 80px;
    background: rgb(11, 88, 99);
    margin: 2% auto;
    border-radius: 15px;
}

.Entertainment3 {
    width: 230px;
    height: 80px;
    background: rgb(4, 9, 73);
    margin: 2% auto;
    border-radius: 15px;
}