.FlightControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.FlightControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #0e4981;
    cursor: pointer;
    outline: none;
}

.FlightControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.FlightControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 230px;
}

.DescriptionCircle {
    font-size: 50%;
    font-family: sans-serif;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 3ex;
    height: 3ex;
    border-radius: 15ex;
    background: #f7f7f7;
    border: 2px solid #8d0c7c;
}

.DescriptionCircle::before {
    content: "?";
    font-size: 120%;
    font-weight: bold;
    color: #8d0c7c;
}

.DescriptionCircle:hover {
    background: #e68134;
}

.FlightControl .Select {  
    background-color: #8d0c7c;
    color: white;
    border-radius: 2px;
}

.FlightControl .Select:hover  {  
    color: white;
    border-top: 1px solid #e68134;
}

.FlightControl .Select:active {
    color: white;
    background-color: #6d005e;
}