.Header {
    position: fixed;
    background-color: #f7f7f7;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.HeaderName {
    width: 400px;
    height: 80px;
}

.HeaderName img {
    float: left;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.HeaderName h2 {
    float: left;
    margin-left: 10px;
    font-size: 1.6em;
    color: black;
}

@media only screen and (max-width: 479px) {
    .Header {
        display: flex;
        flex-direction: column;
    }

    .HeaderName h2 {
        font-size: 1.5em;
    }
}